.landing-section {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  padding: 40px 48px 0 100px;
}

.hello-label {
  font-size: 16px;
  color: var(--secondary-alt-color);
}

.name-label,
.subtitle-label {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
}

.name-label {
  color: var(--secondar-color);
}

.subtitle-label {
  margin: -16px 0 0;
  color: var(--secondary-alt-color);
}

.description-label {
  font-size: 20px;
  color: var(--secondary-alt-color);
  margin: 32px 0 0;
}

@media only screen and (min-width: 768px) {
  .landing-section {
    padding: 80px 32px 0 160px;
  }
  .name-label,
  .subtitle-label {
    font-size: 80px;
    line-height: 80px;
  }

  .description-label {
    margin: 24px 50% 0 0;
  }
}
