@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --primary-color: #202124;
  --secondary-color: #ffffffe6;
  --secondary-alt-color: #ffffff9f;
}

body {
  margin: 0;
  background: var(--primary-color);
  font-family: "Lato", sans-serif;
  color: var(--secondary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 1.25rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5625rem;
  border: 0.375rem solid rgba(0, 0, 0, 0);
  background-color: rgba(232, 234, 237, 0.16);
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
